<%- include ./partials/header.ejs %>
  <body>

<%- include ./partials/navbar.ejs %>

    <section>
      <div class="container">
          <div class="row"> 
            <div class="col-md-4">
              <a href="" data-lightbox="gallery" data-title="Picture 4"><img src=<%= blog.img %> class="img-thumbnail" alt=""/></a>
              <div class="title"><%= blog.title %></div>
              <div class="blog-body"><p><%= blog.body %></p></div>
              <div class="blog-tags"><p><%= blog.author %></p></div>
            </div>
          </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="./static/home.js"></script>
  </body>
</html>
